.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
}

.main-heading {
  font-size: 2rem;
}

.form-container {
  margin-top: 20px;
}

.form-heading {
  font-size: 1.5rem;
}

form {
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  width: 200px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
